lr-map-view {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
  image-rendering: pixelated;
}

lr-map-sprite {
  display: block;
  position: absolute;
  image-rendering: pixelated;
  pointer-events: none;
}
